<footer>
  <div class="footer-container">
    <div class="footer-links">
      <nav>
        {% render 'main-nav' %}
      </nav>
      <div class="social-media-links">
        <ul>
          <li>
            <a href="#">
              <img width="31px" height="31px" src="{{ 'svg/linkedin.svg' | asset_url }}">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="31px" height="31px" src="{{ 'svg/vimeo.svg' | asset_url }}">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="31px" height="31px" src="{{ 'svg/instagram.svg' | asset_url }}">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="31px" height="31px" src="{{ 'svg/twitter.svg' | asset_url }}">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="31px" height="31px" src="{{ 'svg/facebook.svg' | asset_url }}">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <a href="/">
        <img width="55px" height="55px" src="{{ 'svg/logo-tennis-ball.svg' | asset_url }}">
      </a>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [],
  "presets": []
}
{% endschema %}
